html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    padding: 0.125rem;
}

body {
    font-family: monospace;
    background-color: black;
    color: gray;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

@-webkit-keyframes blinker {
    0% {
        visibility: visible
    }

    50% {
        visibility: hidden
    }

    100% {
        visibility: visible
    }
}

@keyframes blinker {
    0% {
        visibility: visible
    }

    50% {
        visibility: hidden
    }

    100% {
        visibility: visible
    }
}

blink {
    -webkit-animation: blinker steps(1) 1s infinite;
    animation: blinker steps(1) 1s infinite;
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: whitesmoke;
    white-space: pre-wrap;
    padding: 0;
}

h1 {
    font-size: 4em;
    line-height: 80%;
    #margin-bottom: -7%;
}

p {
    font-size: 16px;
    color: #a3a1a1
}

p.footer {
    font-size: 18px;
}

div {
    text-align: left;
}

ul {
    display: inline-block;
    text-align: left;
}

li {
    font-size: 16px;
}

a {
    color: #dfd3d3;
    text-decoration-style: dotted;
    text-underline-offset: 0.2rem;
}

a:visited {
    color: #ffe8e8
}

.feather {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}

.rainbow {
    animation: rainbow 5s linear;
    animation-iteration-count: infinite;
    width: 16px;
    height: 16px;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}
