<footer>
    {% comment %}

    Footer goes here

    {% endcomment %}

   <div class="div-footer">
    <p>
        <img src="https://cyber.dabamos.de/88x31/undercon.gif"><a href="https://cyber.dabamos.de/88x31/index5.html"></a></img>
        <img src="https://cyber.dabamos.de/88x31/undercon2.gif"><a href="https://cyber.dabamos.de/88x31/index5.html"></a></img>
    </p>
    <p>
        <a href="https://instagram.com/princessmortix"><i data-feather="instagram"></i></a>
        <a href="https://github.com/princessmortix"><i data-feather="github"></i></a>
        <a href="https://www.youtube.com/@princessmortix"><i data-feather="youtube"></i></a>
        <a href="https://twitter.com/princessmortix"><i data-feather="twitter"></i></a>
        | &copy; Princess Mortix, {{ 'now' | date: "%Y" }}
    </p>
   </div>
</footer>
<script>
feather.replace()
// Load feather icons
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js" integrity="sha512-9khQRAUBYEJDCDVP2yw3LRUQvjJ0Pjx0EShmaQjcHa6AXiOv6qHQu9lCAIR8O+/D8FtaCoJ2c0Tf9Xo7hYH01Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-SkmBfuA2hqjzEVpmnMt/LINrjop3GKWqsuLSSB3e7iBmYK7JuWw4ldmmxwD9mdm2IRTTi0OxSAfEGvgEi0i2Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>